<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>OneShop || Đặt Lại Mật Khẩu</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/web/assets/images/favicon.png}">

    <link rel="stylesheet" th:href="@{/web/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/web/assets/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/web/assets/css/style.min.css}">
</head>

<body>
    <div class="axil-signin-area">

        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-xl-4 col-sm-6">
                    <a th:href="@{/}" class="site-logo"><img th:src="@{/web/assets/images/logo/logo.png}" alt="logo"></a>
                </div>
                <div class="col-md-2 d-lg-block d-none">
                    <a th:href="@{/forgot-password}" class="back-btn"><i class="far fa-angle-left"></i></a>
                </div>
                <div class="col-xl-6 col-lg-4 col-sm-6">
                    <div class="singin-header-btn">
                        <p>Đã là thành viên? <a th:href="@{/sign-in}" class="sign-in-btn">Đăng Nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h2 class="title">Chúng tôi cung cấp sản phẩm tốt nhất</h2>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title mb--35">Đặt Lại Mật Khẩu</h3>
                        <form class="singin-form" method="post">
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label>Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" name="confirm_password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Đặt Lại Mật Khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/web/assets/js/vendor/modernizr.min.js}"></script>
    <script th:src="@{/web/assets/js/vendor/jquery.js}"></script>
    <script th:src="@{/web/assets/js/vendor/popper.min.js}"></script>
    <script th:src="@{/web/assets/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/web/assets/js/main.js}"></script>

</body>
</html>